<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/aboutus.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="courses.html" class="nav-link">Courses</a></li>
        <li><a href="aboutus.html" class="nav-link">About Us</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtual Class</a></li>
        <li class="menu-languages">Change language<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/aboutus.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="courses.html" class="nav-link">Courses</a></li>
        <li><a href="aboutus.html" class="nav-link">About us</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtual Class</a></li>
        <li class="menu-languages-responsive">Change language<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/aboutus.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="title-aboutus">
      <h2>Spanish language school in Málaga</h2>
    </div>

    <div class="main-contain-aboutus">

        <div class="list1">
          <ul>
            <li>&nbsp&nbspAcademy located in the centre of Malaga. In Calle Álamos, 42.</span></li>
            <li>&nbsp&nbspAffordable places to eat in the area.</span></li>
            <li>&nbsp&nbspTourist information points about the city nearby.</span></li>
          </ul>
        </div>

        <div class="list2">
          <ul>
            <li>&nbsp&nbspNative teachers with years of teaching experience.</span></li>
            <li>&nbsp&nbsp90% of students passed at different levels.</span></li>
            <li>&nbsp&nbspPupils of all ages and from a wide range of speech backgrounds.</span></li>
          </ul>

        </div>
    </div>


    <div class="contain-description-aboutus">
      <div class="information-aboutus">
        <h2>Spanish Academy  "El Faro"</h2>
        <p>Our Spanish language school located in <b>Málaga</b> is one of the <b>top 5 award-winning schools</b> in our city. It has
          spacious premises, well located geographically, which can be reached by EMT bus lines <b> 22, 34, 12 and 5,</b> and the metro is less than 10 minutes walk away.
          Our academy consists of <b>3 spacious classrooms</b>. In each of them we teach a different level of Spanish <b>(A2, B1 y B2)</b>
          and all of them have the necessary resources and teaching material to carry out the lessons. <br><br>We have a team of native teachers with a great deal of experience
          in teaching Spanish as a foreign language (ELE). They give classes <b>entirely in Spanish</b>, adapting to the level and needs of the students.
          <br><br>We have <b>a 90% pass rate among our students</b>. So as soon as you register with us you are almost <b>guaranteed a pass</b>,
            without forgetting the most important thing, which is <b>to learn</b> one of the most spoken languages in the world today according to the Instituto Cervantes.</p>
      </div>
    </div>


    <div class="images-aboutus">
      <div class="image-aula"><img  src="/ProyectoFinal/images/aula.jpg" alt="Imagen del interior de un aula con pupitres y pizarra de fondo"></div>
      <div class="image-academy"><img class="image-academy" src="/ProyectoFinal/images/external-building.jpg" alt="Edificio visto desde fuera"></div>
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Follow us on our social networks!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/ProyectoFinal/scripts/multilanguage/multilanguages.js"></script>
    <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
    <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
