<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/contact.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="courses.html" class="nav-link">Courses</a></li>
        <li><a href="aboutus.html" class="nav-link">About Us</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtual Class</a></li>
        <li class="menu-languages">Change language<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/contact.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/contact.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/contact.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/contact.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Home</a></li>
        <li><a href="courses.html" class="nav-link">Courses</a></li>
        <li><a href="aboutus.html" class="nav-link">About Us</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtual Class</a></li>
        <li class="menu-languages-responsive">Change language<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/contact.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/contact.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/contact.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/contact.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="contact-main-contain">

      <div class="form">
        <form  name="form-contact">
          <div class="title-form"><h3>Contact with us</h3><br></div>
          <div class="text-label"><label for="Nombre">Name*</label><br></div>
          <input type="text" name="Nombre" id="Nombre"><br>
          <div class="text-label"><label for="mail">E-mail*</label><br></div>
          <input type="email" name="mail" id="mail" required><br>
          <div class="text-label"><label for="Phone">Phone number</label><br></div>
          <input type="text" name="Phone" id="Phone"><br>
          <div class="text-label"><label for="Subject">Subject</label><br></div>
          <input type="text" name="Subject" id="Subject"><br>
          <div class="text-label"><label for="Message">Message*</label><br></div>
          <textarea name="Message" id="Message" rows="30" cols="10"></textarea><br><br>
          <div class="contact-form-button"><input type="submit" name="contact-button" value="Send" id="send"></div>
        </form>
      </div>

      <div class="contact-information">
        <p><b>Spanish Academy for foreigners</b></p>
        <p>Our telephone number for any queries: 999 999 999 999 999</p>
        <p>E-mail: elfaroacedemy@gmail.com</p>
        <p>You can find us at: C.Álamos, 42 - Málaga. 29012</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.9766682673694!2d-4.4206487847122835!3d36.72312157996452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f7bf8b469a73%3A0x35ecbbfa1a0eef12!2zQy4gw4FsYW1vcywgNDIsIDI5MDEyIE3DoWxhZ2E!5e0!3m2!1ses!2ses!4v1650473556515!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>



    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Follow us on our social networks!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>
    <script type="text/javascript" src="/ProyectoFinal/scripts/contact.js"></script>
    <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
    <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>


    </script>
  </body>
</html>
