<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Über Uns</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/aboutus.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Startseite</a></li>
        <li><a href="courses.html" class="nav-link">Kurse</a></li>
        <li><a href="aboutus.html" class="nav-link">Über Uns</a></li>
        <li><a href="contact.html" class="nav-link">Kontakt</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelles</a></li>
        <li class="menu-languages">Sprache ändern<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/aboutus.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Startseite</a></li>
        <li><a href="courses.html" class="nav-link">Kurse</a></li>
        <li><a href="aboutus.html" class="nav-link">Über Uns</a></li>
        <li><a href="contact.html" class="nav-link">Kontakt</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelles</a></li>
        <li class="menu-languages-responsive">Sprache ändern<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/aboutus.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="title-aboutus">
      <h2>Spanisch Sprachschule in Málaga</h2>
    </div>

    <div class="main-contain-aboutus">

        <div class="list1">
          <ul>
            <li>&nbsp&nbspDie Akademie befindet sich im Zentrum von Málaga. In der Calle Álamos, 42.</span></li>
            <li>&nbsp&nbspErschwingliche Lokale in der Umgebung.</span></li>
            <li>&nbsp&nbspTouristische Informationsstellen über die Stadt in der Nähe.</span></li>
          </ul>
        </div>

        <div class="list2">
          <ul>
            <li>&nbsp&nbspEinheimische Lehrer mit langjähriger Unterrichtserfahrung.</span></li>
            <li>&nbsp&nbsp90 % der Schülerinnen und Schüler haben die Prüfungen auf verschiedenen Ebenen bestanden.</span></li>
            <li>&nbsp&nbspStudenten aller Altersgruppen und von vielfältiger Sprache.</span></li>
          </ul>

        </div>
    </div>


    <div class="contain-description-aboutus">
      <div class="information-aboutus">
        <h2>Spanische Akademie "El Faro"</h2>
        <p>Unsere Spanisch-Sprachschule in <b>Málaga</b> gehört zu den <b>5 preisgekrönten Schulen</b> in unserer Stadt. Es verfügt
          über geräumige, geografisch günstig gelegene Räumlichkeiten, die mit den EMT-Buslinien <b>EMT 22, 34, 12 und 5,</b> erreicht werden können, und die U-Bahn ist weniger als 10 Minuten zu Fuß entfernt.
          Unsere Akademie besteht aus <b>3 geräumigen Klassenräumen.</b>. In jedem von ihnen unterrichten wir ein anderes Sprachniveau <b>(A2, B1 y B2)</b>
          und alle verfügen über die notwendigen Ressourcen und Unterrichtsmaterialien für die Durchführung des Unterrichts. <br><br>Wir haben ein Team
          von muttersprachlichen Lehrern mit viel Erfahrung im Unterrichten von Spanisch als Fremdsprache (ELE). Sie unterrichten ausschließlich <b>auf Spanisch</b> und passen sich dem Niveau und den Bedürfnissen der Schüler an.
          <br><br>Wir haben eine <b>Erfolgsquote von 90 %</b> bei unseren Schülern. Sobald Sie sich bei uns anmelden
          <b>eine Garantie für einen Pass</b>,ohne das Wichtigste zu vergessen, nämlich eine der meistgesprochenen Sprachen der Welt zu <b>lernen</b> wie das Instituto Cervantes mitteilt.</p>
      </div>
    </div>


    <div class="images-aboutus">
      <div class="image-aula"><img  src="/ProyectoFinal/images/aula.jpg" alt="Imagen del interior de un aula con pupitres y pizarra de fondo"></div>
      <div class="image-academy"><img class="image-academy" src="/ProyectoFinal/images/external-building.jpg" alt="Edificio visto desde fuera"></div>
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Folgen Sie uns in unseren sozialen Netzwerken!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/ProyectoFinal/scripts/multilanguage/multilanguages.js"></script>
    <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
    <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
