<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unsere Kurse</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/courses.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Startseite</a></li>
        <li><a href="courses.html" class="nav-link">Kurse</a></li>
        <li><a href="aboutus.html" class="nav-link">Über Uns</a></li>
        <li><a href="contact.html" class="nav-link">Kontakt</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelles</a></li>
        <li class="menu-languages">Sprache ändern<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/courses.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/courses.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/courses.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/courses.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Startseite</a></li>
        <li><a href="courses.html" class="nav-link">Kurse</a></li>
        <li><a href="aboutus.html" class="nav-link">Über Uns</a></li>
        <li><a href="contact.html" class="nav-link">Kontakt</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelles</a></li>
        <li class="menu-languages-responsive">Sprache ändern<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/courses.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/courses.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/courses.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/courses.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="contain-title-courses">
      <h2>Unsere Spanischkurse</h2>
    </div>

    <div class="main-contain-courses">

      <div class="contain-courses">
        <h3>A2</h3>
        <p>Dieser Kurs richtet sich an diejenigen, die Spanisch erst seit kurzer Zeit praktizieren und die
          Sprache weiter entdecken wollen. Sie werden in der Lage sein, häufig verwendete spanische Ausdrücke zu lernen, die für das Sprechen relevant sind.
        <br><br><span class="price">PREIS: 45€/MONAT + IMMATRIKULATION.</span></p>
      </div>
      <div class="contain-courses">
        <h3>B1</h3>
        <p>Für diejenigen, die bereits die Grundlagen der Sprache kennen und weitere grundlegende Aspekte der Sprache erlernen möchten.
      Und für diejenigen, die bereits die A2-Qualifikation haben und ihr Niveau verbessern wollen.<br><br><span class="price">PREIS: 50€/MONAT + IMMATRIKULATION.</span></p>
      </div>
      <div class="contain-courses">
        <h3>B2</h3>
        <p>Dieser Kurs richtet sich an Personen, die bereits über einige Spanischkenntnisse verfügen und diese bis zur Perfektion ausbauen möchten
          mit dem Ziel, wie ein Muttersprachler zu sprechen.<br><br><span class="price">PREIS: 55€/MONAT + IMMATRIKULATION.</span></p>
      </div>
    </div>


    <div class="main-contact-information">

      <div class="contact-information">
        <p>Alle unsere Kurse werden persönlich in unseren Einrichtungen abgehalten. Darüber hinaus haben wir einen Bereich für
        von. <a href="contact.html">virtuelles Klassenzimmer</a> auf unserer Website, so dass die eingeschriebenen Studenten telematisch auf die verschiedenen Dateien zugreifen können, um die Möglichkeit zu haben, weiter zu lernen und Zugang zu dem für zukünftige Prüfungen erworbenen Material zu haben.
        um die Möglichkeit zu haben, weiter zu lernen und den erworbenen Stoff für zukünftige Prüfungen zur Verfügung zu haben
        Prüfungen<br><br>Die Kurse sind für alle geeignet, unabhängig von ihrer Muttersprache. Darüber hinaus bieten unsere Kurse
        richten sich an alle Altersgruppen, so dass Gruppen gebildet werden, wenn neue Schüler in unsere Klassenzimmer kommen.
        <br><br>Wenn Sie weitere Informationen zu den Kursen wünschen, zögern Sie bitte nicht, uns zu kontaktieren
        durch Ausfüllen des Formulars in der Rubrik: <a href="contact.html">Kontakte</a><br><br></p>

      <div class="discount">

        <h3>30% RABATT</h3>
        <p>In Ihrer Anmeldung, wenn Sie sich im September einschreiben</p>

      </div>

      </div>
    </div>

    <div class="courses-image">
      <img src="/ProyectoFinal/images/courses-image.jpg" alt="Imagen de estudiantes escribiendo en un aula">
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Folgen Sie uns in unseren sozialen Netzwerken!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>



      <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
      <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
