<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A propos de nous</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/aboutus.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Accueil</a></li>
        <li><a href="courses.html" class="nav-link">Cours</a></li>
        <li><a href="aboutus.html" class="nav-link">A propos de nous</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelle</a></li>
        <li class="menu-languages">Changer de langue<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/aboutus.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Accueil</a></li>
        <li><a href="courses.html" class="nav-link">Cours</a></li>
        <li><a href="aboutus.html" class="nav-link">Sobre Nosotros</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelle</a></li>
        <li class="menu-languages-responsive">Changer de langue<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/aboutus.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="title-aboutus">
      <h2>École de langue espagnole à Malaga</h2>
    </div>

    <div class="main-contain-aboutus">

        <div class="list1">
          <ul>
            <li>&nbsp&nbspAcadémie située dans le centre de Malaga. Dans Calle Álamos, 42.</span></li>
            <li>&nbsp&nbspDes endroits abordables pour manger dans la région.</span></li>
            <li>&nbsp&nbspPoints d'information touristique sur la ville à proximité.</span></li>
          </ul>
        </div>

        <div class="list2">
          <ul>
            <li>&nbsp&nbspDes enseignants autochtones ayant une longue expérience de l'enseignement.</span></li>
            <li>&nbsp&nbsp90% des étudiants ont réussi aux différents niveaux.</span></li>
            <li>&nbsp&nbspDes étudiants de tous âges et de tous horizons.</span></li>
          </ul>

        </div>
    </div>


    <div class="contain-description-aboutus">
      <div class="information-aboutus">
        <h2>Académie espagnole "El Faro"</h2>
        <p>Notre école de langue espagnole située à <b>Málaga</b> est l'une des <b>5 premiers gagnants</b> de notre ville.
          Il dispose de vastes locaux bien situés géographiquement et accessibles par des lignes de bus <b>EMT 22, 34, 12 et 5,</b> et ligne de métro située à moins de 10 minutes de marche.
          Notre académie est composée de <b>3 grandes salles de classe</b>. Dans chacun d'eux, un niveau d'espagnol différent est enseigné <b>(A2, B1 y B2)</b>
          et tous disposent des ressources et du matériel pédagogique nécessaires à la réalisation des cours. <br><br>Nous disposons d'une équipe d'enseignants expérimentés, de langue maternelle
          dans l'enseignement de l'espagnol comme langue étrangère (ELE). Ils enseignent <b>entièrement en espagnol</b> adaptés en fonction du niveau et des besoins des élèves.
          <br><br>Nous avons un <b>taux de réussite</b> par notre corps étudiant d'un <b>90%</b>. Donc, dès que vous vous
          inscrivez avec nous, vous obtenez le <b>succès presque garanti</b>, sans oublier la chose la plus importante, qui est <b>apprendre</b>l'une
          des langues les plus parlées dans le monde aujourd'hui, selon l'Institut Cervantes.</p>
      </div>
    </div>


    <div class="images-aboutus">
      <div class="image-aula"><img  src="/ProyectoFinal/images/aula.jpg" alt="Imagen del interior de un aula con pupitres y pizarra de fondo"></div>
      <div class="image-academy"><img class="image-academy" src="/ProyectoFinal/images/external-building.jpg" alt="Edificio visto desde fuera"></div>
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Suivez-nous sur nos réseaux sociaux!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/ProyectoFinal/scripts/multilanguage/multilanguages.js"></script>
    <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
    <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
