<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nos cours</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/courses.css">
  </head>
  <body>
    <header>

    <a href="index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="index.html" class="nav-link">Accueil</a></li>
        <li><a href="courses.html" class="nav-link">Cours</a></li>
        <li><a href="aboutus.html" class="nav-link">A propos de nous</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelle</a></li>
        <li class="menu-languages">Changer de langue<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/courses.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/courses.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/courses.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/courses.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="index.html" class="nav-link">Accueil</a></li>
        <li><a href="courses.html" class="nav-link">Cours</a></li>
        <li><a href="aboutus.html" class="nav-link">A propos de nous</a></li>
        <li><a href="contact.html" class="nav-link">Contact</a></li>
        <li><a href="virtual.html" class="nav-link">Virtuelle</a></li>
        <li class="menu-languages-responsive">Changer de langue<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/courses.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/courses.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/courses.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/courses.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="contain-title-courses">
      <h2>Nos cours d'espagnol</h2>
    </div>

    <div class="main-contain-courses">

      <div class="contain-courses">
        <h3>A2</h3>
        <p>Destiné à ceux qui ne pratiquent l'espagnol que depuis peu de temps et qui veulent continuer à découvrir cette langue.
          Vous serez en mesure d'apprendre des expressions espagnoles fréquemment utilisées et pertinentes à l'oral.
        <br><br><span class="price">PRIX: 45€/MOIS + INSCRIPTION.</span></p>
      </div>
      <div class="contain-courses">
        <h3>B1</h3>
        <p>Pour ceux qui connaissent déjà le côté le plus élémentaire de la langue et qui veulent en apprendre des aspects plus fondamentaux. Et
        pour ceux qui ont déjà la qualification A2 et qui veulent améliorer leur niveau.<br><br><span class="price">PRIX: 50€/MOIS + INSCRIPTION.</span></p>
      </div>
      <div class="contain-courses">
        <h3>B2</h3>
        <p>Destiné à ceux qui ont une certaine aisance en espagnol et qui veulent développer leurs compétences linguistiques à la perfection
          dans le but de parler comme un locuteur natif.<br><br><span class="price">PRIX: 55€/MOIS + INSCRIPTION.</span></p>
      </div>
    </div>


    <div class="main-contact-information">

      <div class="contact-information">
        <p>Tous nos cours sont donnés en personne dans nos locaux. En outre, nous avons une section
        de <a href="contact.html">classe virtuelle</a> sur notre site web, afin que les étudiants inscrits puissent accéder aux différents dossiers par voie télématique
        afin d'avoir la possibilité de poursuivre l'apprentissage et de disposer du matériel acquis pour le réviser lors de futures formations
        examens.<br><br>Les cours sont adaptés à tous, quelle que soit votre langue maternelle. En outre, nos cours
        s'adressent à toutes les tranches d'âge. Des groupes se formeront donc au fur et à mesure que de nouveaux élèves rejoindront
        nos salles de classe.<br><br>Si vous souhaitez obtenir de plus amples informations sur les cours, n'hésitez pas à nous contacter.
       en remplissant le formulaire dans la section: <a href="contact.html">contacts</a><br><br></p>

      <div class="discount">

        <h3>30% DE RÉDUCTION</h3>
        <p>Dans votre inscription si vous vous inscrivez en septembre</p>

      </div>

      </div>
    </div>

    <div class="courses-image">
      <img src="/ProyectoFinal/images/courses-image.jpg" alt="Imagen de estudiantes escribiendo en un aula">
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>Suivez-nous sur nos réseaux sociaux!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>



      <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
      <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
