<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/aboutus.css">
  </head>
  <body>
    <header>

    <a href="/ProyectoFinal/index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="/ProyectoFinal/index.html" class="nav-link">Inicio</a></li>
        <li><a href="courses.html" class="nav-link">Cursos</a></li>
        <li><a href="aboutus.html" class="nav-link">Sobre Nosotros</a></li>
        <li><a href="contact.html" class="nav-link">Contacto</a></li>
        <li><a href="virtual.html" class="nav-link">Aula Virtual</a></li>
        <li class="menu-languages">Cambiar idioma<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/aboutus.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="/ProyectoFinal/index.html" class="nav-link">Inicio</a></li>
        <li><a href="courses.html" class="nav-link">Cursos</a></li>
        <li><a href="aboutus.html" class="nav-link">Sobre Nosotros</a></li>
        <li><a href="contact.html" class="nav-link">Contacto</a></li>
        <li><a href="virtual.html" class="nav-link">Aula Virtual</a></li>
        <li class="menu-languages-responsive">Cambiar idioma<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/aboutus.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/aboutus.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/aboutus.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/aboutus.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="title-aboutus">
      <h2>Academia de español en Málaga</h2>
    </div>

    <div class="main-contain-aboutus">

        <div class="list1">
          <ul>
            <li>&nbsp&nbspAcademia ubicada en Málaga centro. En Calle Álamos, 42.</span></li>
            <li>&nbsp&nbspLocales accesibles para comer por la zona.</span></li>
            <li>&nbsp&nbspPuntos de información turística sobre la ciudad cercanos.</span></li>
          </ul>
        </div>

        <div class="list2">
          <ul>
            <li>&nbsp&nbspProfesores nativos con años de experiencia en la enseñanza.</span></li>
            <li>&nbsp&nbsp90% de alumnos aprobados en los diferentes niveles.</span></li>
            <li>&nbsp&nbspAlumnos de todas las edades y de habla variada.</span></li>
          </ul>

        </div>
    </div>


    <div class="contain-description-aboutus">
      <div class="information-aboutus">
        <h2>Academia de español "El Faro"</h2>
        <p>Nuestra academia de español ubicada en <b>Málaga</b> es una de las <b>5 primeras galardonadas</b> de nuestra ciudad. Dispone
          de un amplio local bien ubicado geográficamente, al cual se puede acceder por las líneas de autobuses <b>EMT 22, 34, 12 y 5,</b> y de metro ubicada a menos de 10 minutos a pie.
          Nuestra academia está compuesta por <b>3 amplias aulas</b>. En cada una de ellas se imparte un nivel diferente del español <b>(A2, B1 y B2)</b>
          y todas disponen de los recursos y el material docente necesario para llevar a cabo las lecciones. <br><br>Contamos con un claustro de profesores nativos con bastante experiencia
          dedicada a la enseñanza del español como lengua extranjera (ELE). Ellos imparten clases <b>totalmente en español</b> adaptándose según el nivel y las necesidades del alumnado.
          <br><br>Disponemos de una <b>tasa de aprobados</b> por parte de nuestro alumnado de un <b>90%</b>. Por lo que nada más
          inscribirte con nosotros tienes el <b>aprobado casi asegurado</b>, sin olvidarnos de lo más importante que es <b>aprender</b> uno
          de los idiomas más hablados del mundo en la actualidad según el Instituto Cervantes.</p>
      </div>
    </div>


    <div class="images-aboutus">
      <div class="image-aula"><img  src="/ProyectoFinal/images/aula.jpg" alt="Imagen del interior de un aula con pupitres y pizarra de fondo"></div>
      <div class="image-academy"><img class="image-academy" src="/ProyectoFinal/images/external-building.jpg" alt="Edificio visto desde fuera"></div>
    </div>


    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>¡Síguenos en nuestras redes sociales!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/ProyectoFinal/scripts/multilanguage/multilanguages.js"></script>
    <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
    <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
