<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Usuario no encontrado</title>
    <link rel="stylesheet" href="/ProyectoFinal/styles/index.css">
    <link rel="stylesheet" href="/ProyectoFinal/styles/virtual.css">
  </head>
  <body>
    <header>

    <a href="/ProyectoFinal/index.html" class="logo">
      <img src="/ProyectoFinal/images/logo.png" alt="logo de la empresa">
      <h2 class="company-name">Spanish Academy <br> El Faro</h2>
    </a>
    <nav class="header-menu">
      <ul>
        <li><a href="/ProyectoFinal/index.html" class="nav-link">Inicio</a></li>
        <li><a href="courses.html" class="nav-link">Cursos</a></li>
        <li><a href="aboutus.html" class="nav-link">Sobre Nosotros</a></li>
        <li><a href="contact.html" class="nav-link">Contacto</a></li>
        <li><a href="virtual.html" class="nav-link">Aula Virtual</a></li>
        <li class="menu-languages">Cambiar idioma<span class="down-arrow">▼</span>
        <ul class="submenu-languages">
          <li> <a href="/ProyectoFinal/templates/index.html"> <img src="/ProyectoFinal/images/espana.png" alt="Bandera de España"> <span>Español</span> </a></li>
          <li> <a href="/ProyectoFinal/templates/en/index.html"> <img class="reino-unido-image" src="/ProyectoFinal/images/gran-bretana.png" alt="Bandera de Inglaterra"><span>English</span></a></li>
          <li> <a href="/ProyectoFinal/templates/de/index.html"> <img  src="/ProyectoFinal/images/alemania.png" alt="Bandera de Alemania"><span>Deutsch</span></a></li>
          <li> <a href="/ProyectoFinal/templates/fr/index.html"><img  src="/ProyectoFinal/images/francia.png" alt="Bandera de Francia"><span>Français</span></a></li>
        </ul>
      </li>
    </ul>
    </nav>

      <a href="#" class="button-burguer-menu mostrar" id="buttonburguermenu"><img src="/ProyectoFinal/images/burguer-menu.png" alt="icono menu responsive"> </a>


    </header>
    <nav class="header-menu-responsive">
      <ul>
        <li><a href="/ProyectoFinal/index.html" class="nav-link">Inicio</a></li>
        <li><a href="courses.html" class="nav-link">Cursos</a></li>
        <li><a href="aboutus.html" class="nav-link">Sobre Nosotros</a></li>
        <li><a href="contact.html" class="nav-link">Contacto</a></li>
        <li><a href="virtual.html" class="nav-link">Aula Virtual</a></li>
        <li class="menu-languages-responsive">Cambiar idioma<span class="down-arrow">▼</span>
        <ul class="submenu-languages-responsive">
          <li> <a href="/ProyectoFinal/templates/index.html">Español</a></li>
          <li> <a href="/ProyectoFinal/templates/en/index.html">English</a></li>
          <li> <a href="/ProyectoFinal/templates/de/index.html">Deutsch</a></li>
          <li> <a href="/ProyectoFinal/templates/fr/index.html">Français</a></li>
        </ul>
      </li>
    </ul>
    </nav>

    <div class="contain-form">
      <div class="form">
        <form action="Sesiones.php" method="post">
          <h3>Acceso al Aula Virtual</h3>
          <div class="contain-label"><label for="Mail"> <img src="/ProyectoFinal/images/icono-email.png" alt="icono de email"> Correo Electrónico</label></div>
          <input type="text" name="Mail" required><br>
          <div class="contain-label"><label for="Password"> <img class="candado-icon" src="/ProyectoFinal/images/icono-candado.png" alt="icono de candado"> Contraseña</label></div>
          <input type="password" name="Password" required><br>
          <p class="error-message">Usuario no encontrado</p>
          <div class="contain-submit"><div class="submit"><input type="submit" name="submit" value="Ingresar" class="text-button"></div></div>
        </form>
      </div>
    </div>



    <div class="background-final-contain">

      <div class="final-contain">
        <div class="final-contain-contact">
          <p> C.Álamos, 42 - Málaga. 29012 <br> elfaroacedemy@gmail.com </p>
        </div>
        <div class="final-contain-DELE">
          <img src="/ProyectoFinal/images/DELE.png" alt="logo DELE">
          <img class="cervantes-logo" src="/ProyectoFinal/images/Cervantes.png" alt="logo Instituto Cervantes">
        </div>
        <div class="final-contain-socialmedia">
          <p>¡Síguenos en nuestras redes sociales!</p>
          <a href="https://twitter.com/"> <img src="/ProyectoFinal/images/twitter.png" alt="logo de twitter"> </a>
          <a href="https://facebook.com/"> <img src="/ProyectoFinal/images/facebook.png" alt="logo de facebook"> </a>
          <a href="https://instagram.com/"> <img src="/ProyectoFinal/images/instagram.png" alt="logo de instagram"> </a>
        </div>

      </div>

      </div>



      <script src="/ProyectoFinal/scripts/jquery-3.6.0.min.js"></script>
      <script src="/ProyectoFinal/scripts/menuresponsive_buttons.js"></script>
  </body>
</html>
