label img{
  margin-right: 2px;
  margin-top: 5px;
}
.form p{
  color: black;
  text-align: center;
}
.form .email-sent{
  background-color: #9AF468;
  margin: 2px;
  width: 115%;
  margin-left: -15px;
}
.form .not-found{
  margin: 2px;
  width: 115%;
  margin-left: -15px;
  background-color: #FFBABA;
}
